In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
enrollment = pd.read_csv("~/Desktop/chia2018/2017/enrollment_premiums/enrollment_by_employer_size.csv", thousands=",")
#Reading the dataset in a dataframe using Pandas
num = 7
enrollment.head(num) #prints <num> rows

,Funding Type,Employer Size,months_2014,months_2015,months_2016,members_2014,members_2015,members_2016
0,Fully-Insured,Individual,970943,2043684,2749178,80912,170307,229098
1,Fully-Insured,Small Group,6385381,6072045,5881221,532115,506004,490102
2,Fully-Insured,Mid-Size Group,3238313,3166680,3024740,269859,263890,252062
3,Fully-Insured,Large Group,5091116,5006600,4936324,424260,417217,411360
4,Fully-Insured,Jumbo Group,4424667,4508796,4615832,368722,375733,384653
5,Fully-Insured,GIC,621856,650576,675596,51821,54215,56300
6,Fully-Insured,Total,20732276,21448381,21882891,1727690,1787365,1823574

In [33]:
months = enrollment[enrollment.columns[1:5]]
mth_cols = ['months_2014','months_2015','months_2016']
months

    Employer Size  months_2014  months_2015  months_2016
0      Individual       970943      2043684      2749178
1     Small Group      6385381      6072045      5881221
2  Mid-Size Group      3238313      3166680      3024740
3     Large Group      5091116      5006600      4936324
4     Jumbo Group      4424667      4508796      4615832
5             GIC       621856       650576       675596
6           Total     20732276     21448381     21882891

In [34]:
premiums = pd.read_csv("~/Desktop/chia2018/2017/enrollment_premiums/premiums_by_employer_size.csv", thousands=",")
pre_cols = ['agg_premiums_2014','agg_premiums_2015','agg_premiums_2016','pmpm_2014','pmpm_2015','pmpm_2016']
premiums[pre_cols] = premiums[pre_cols].replace({'\$': '', ',': ''}, regex=True)
num = 7
agg_premiums = premiums[premiums.columns[1:5]]
agg_premiums

    Employer Size agg_premiums_2014 agg_premiums_2015 agg_premiums_2016
0      Individual      436910775.41      775843996.38     1008285920.11
1     Small Group     2679491952.09     2623830343.04     2651911183.96
2  Mid-Size Group     1417926728.68     1436160349.70     1437411846.32
3     Large Group     2258229050.54     2316764771.91     2349203676.60
4     Jumbo Group     2052644561.83     2137371409.16     2230835698.86
5             GIC      285473753.85      303073480.47      328438137.07
6           Total     9130676822.40     9593044350.66    10006086462.92

In [39]:
for item in premiums[pre_cols]:
    print(premiums[item])

0     436910775.41
1    2679491952.09
2    1417926728.68
3    2258229050.54
4    2052644561.83
5     285473753.85
6    9130676822.40
Name: agg_premiums_2014, dtype: object
0     775843996.38
1    2623830343.04
2    1436160349.70
3    2316764771.91
4    2137371409.16
5     303073480.47
6    9593044350.66
Name: agg_premiums_2015, dtype: object
0     1008285920.11
1     2651911183.96
2     1437411846.32
3     2349203676.60
4     2230835698.86
5      328438137.07
6    10006086462.92
Name: agg_premiums_2016, dtype: object
0    449.99
1    422.03
2    440.74
3    447.68
4    473.57
5    459.07
6    444.58
Name: pmpm_2014, dtype: object
0    379.63
1    435.25
2    458.34
3    467.62
4    487.13
5    465.85
6    452.54
Name: pmpm_2015, dtype: object
0    366.76
1    455.31
2    476.93
3    484.39
4    501.92
5    486.15
6    464.16
Name: pmpm_2016, dtype: object