In [44]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [51]:
df = pd.read_csv("~/Desktop/chia2018/2017/enrollment_premiums/enrollment_by_employer_size.csv", thousands=",")
#Reading the dataset in a dataframe using Pandas
num = 7
df.head(7) #prints <num> rows

,Funding Type,Employer Size,months_2014,months_2015,months_2016,members_2014,members_2015,members_2016
0,Fully-Insured,Individual,970943,2043684,2749178,80912,170307,229098
1,Fully-Insured,Small Group,6385381,6072045,5881221,532115,506004,490102
2,Fully-Insured,Mid-Size Group,3238313,3166680,3024740,269859,263890,252062
3,Fully-Insured,Large Group,5091116,5006600,4936324,424260,417217,411360
4,Fully-Insured,Jumbo Group,4424667,4508796,4615832,368722,375733,384653
5,Fully-Insured,GIC,621856,650576,675596,51821,54215,56300
6,Fully-Insured,Total,20732276,21448381,21882891,1727690,1787365,1823574

In [52]:
df.info()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 8 columns):
Funding Type     7 non-null object
Employer Size    7 non-null object
months_2014      7 non-null int64
months_2015      7 non-null int64
months_2016      7 non-null int64
members_2014     7 non-null int64
members_2015     7 non-null int64
members_2016     7 non-null int64
dtypes: int64(6), object(2)
memory usage: 528.0+ bytes

Funding Type     object
Employer Size    object
months_2014       int64
months_2015       int64
months_2016       int64
members_2014      int64
members_2015      int64
members_2016      int64
dtype: object