In [9]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [10]:
df = pd.read_csv("2017/0_data.csv")
#Reading the dataset in a dataframe using Pandas
num = 5
df.head(num) #prints <num> rows

,Funding Type,Payer,Employer Size,Product Type,Year,Member Months,Premiums Net of MLR Rebates (Aggregate),Allowed Claims (Aggregate),Incurred Claims (Aggregate),Member Cost-Sharing (Aggregate)
0,Fully-Insured,Aetna,GIC,HMO,2014,NaN,NaN,NaN,NaN,NaN
1,Fully-Insured,Aetna,GIC,HMO,2015,NaN,NaN,NaN,NaN,NaN
2,Fully-Insured,Aetna,GIC,HMO,2016,NaN,NaN,NaN,NaN,NaN
3,Fully-Insured,Aetna,GIC,Other,2014,NaN,NaN,NaN,NaN,NaN
4,Fully-Insured,Aetna,GIC,Other,2015,NaN,NaN,NaN,NaN,NaN

In [11]:
df.describe() 
#summary of numerical fields
#provides count, mean, standard deviation (std), min, quartiles and max in its output

,Year,Member Months,Premiums Net of MLR Rebates (Aggregate),Allowed Claims (Aggregate),Incurred Claims (Aggregate),Member Cost-Sharing (Aggregate)
count,639.000000,0.0,0.0,0.0,0.0,0.0
mean,2015.009390,NaN,NaN,NaN,NaN,NaN
std,0.815162,NaN,NaN,NaN,NaN,NaN
min,2014.000000,NaN,NaN,NaN,NaN,NaN
25%,2014.000000,NaN,NaN,NaN,NaN,NaN
50%,2015.000000,NaN,NaN,NaN,NaN,NaN
75%,2016.000000,NaN,NaN,NaN,NaN,NaN
max,2016.000000,NaN,NaN,NaN,NaN,NaN