In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [72]:
data = pd.read_csv("~/Desktop/chia2018/2017/datasheets/member_cost_sharing.csv", thousands=",")
#Reading the dataset in a dataframe using Pandas
data

,Funding Type,Employer Size,cost_sharing_2014,cost_sharing_2015,cost_sharing_2016,allowed_2014,allowed_2015,allowed_2016,incurred_2014,incurred_2015,incurred_2016
0,Fully-Insured,Individual,"$68,224,039.78","$105,881,897.63","$131,073,094.91","$523,930,355.09","$920,753,362.63","$1,243,518,742.37","$455,482,256.26","$750,568,638.65","$950,516,929.45"
1,Fully-Insured,Small Group,"$374,533,832.57","$370,795,023.07","$387,180,797.89","$2,764,323,281.95","$2,721,121,919.90","$2,716,375,255.75","$2,389,789,449.38","$2,350,326,896.84","$2,329,194,457.86"
2,Fully-Insured,Mid-Size Group,"$165,556,177.49","$166,899,972.96","$173,694,384.11","$1,414,672,144.25","$1,418,929,888.74","$1,423,295,136.90","$1,249,115,966.76","$1,252,029,915.78","$1,249,600,752.79"
3,Fully-Insured,Large Group,"$239,598,160.97","$244,271,986.75","$252,037,521.42","$2,232,698,570.41","$2,261,093,437.14","$2,307,288,903.18","$1,993,100,409.45","$2,016,821,450.38","$2,055,251,381.76"
4,Fully-Insured,Jumbo Group,"$176,146,806.16","$186,478,954.61","$203,007,684.83","$2,001,647,763.32","$2,070,667,143.89","$2,200,938,092.98","$1,825,500,957.16","$1,884,188,189.27","$1,997,930,408.16"
5,Fully-Insured,GIC,"$24,456,012.52","$25,396,848.50","$30,232,114.56","$275,160,361.85","$294,342,657.88","$322,272,068.77","$250,704,349.33","$268,945,809.38","$292,039,954.21"
6,Fully-Insured,Total,"$1,048,515,029.48","$1,099,724,683.52","$1,177,225,597.72","$9,212,432,476.87","$9,686,908,410.18","$10,213,688,199.96","$8,163,693,388.33","$8,522,880,900.31","$8,874,533,884.23"
7,Self-Insured,Individual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Self-Insured,Small Group,"$292,214.06","$101,261.92","$372,647.33","$4,879,776.67","$2,435,195.04","$5,543,883.38","$4,587,562.61","$2,333,933.12","$5,171,236.05"
9,Self-Insured,Mid-Size Group,"$5,714,774.55","$7,101,578.07","$7,654,309.98","$70,802,978.00","$87,371,264.37","$87,520,819.57","$65,088,203.45","$80,269,686.30","$79,866,509.59"
10,Self-Insured,Large Group,"$54,143,790.42","$59,198,099.51","$61,812,364.63","$692,280,574.52","$720,124,358.32","$731,336,685.65","$638,136,784.10","$660,926,258.81","$669,524,321.02"
11,Self-Insured,Jumbo Group,"$860,743,701.12","$914,161,974.59","$911,696,948.12","$9,566,151,641.51","$10,084,198,373.49","$10,143,440,732.46","$8,705,407,940.39","$9,170,036,398.90","$9,231,743,784.34"
12,Self-Insured,GIC,"$144,087,136.36","$161,168,115.96","$175,474,660.80","$1,813,610,587.35","$1,877,419,637.65","$1,905,550,112.94","$1,669,523,450.99","$1,716,251,521.69","$1,730,075,452.14"
13,Self-Insured,Total,"$1,064,981,616.51","$1,141,731,030.05","$1,157,010,930.86","$12,147,725,558.05","$12,771,548,828.87","$12,873,392,234.00","$11,082,743,941.54","$11,629,817,798.82","$11,716,381,303.14"
14,Total,Individual,"$68,224,039.78","$105,881,897.90","$131,073,094.81","$523,930,355.09","$920,753,362.63","$1,243,518,742.37","$455,482,256.26","$750,568,638.65","$950,516,929.45"
15,Total,Small Group,"$374,826,046.63","$370,896,284.99","$387,553,445.23","$2,769,203,058.62","$2,723,557,114.94","$2,721,919,139.14","$2,394,377,011.99","$2,352,660,829.96","$2,334,365,693.91"
16,Total,Mid-Size Group,"$171,270,952.03","$174,001,551.03","$181,348,694.09","$1,485,475,122.25","$1,506,301,153.11","$1,510,815,956.47","$1,314,204,170.21","$1,332,299,602.08","$1,329,467,262.38"
17,Total,Large Group,"$293,741,951.39","$303,470,086.27","$313,849,886.05","$2,924,979,144.93","$2,981,217,795.46","$3,038,625,588.83","$2,631,237,193.55","$2,677,747,709.19","$2,724,775,702.78"
18,Total,Jumbo Group,"$1,036,890,507.28","$1,100,640,929.20","$1,114,704,632.95","$11,567,799,404.83","$12,154,865,517.38","$12,344,378,825.44","$10,530,908,897.55","$11,054,224,588.18","$11,229,674,192.50"
19,Total,GIC,"$168,543,148.87","$186,564,964.46","$205,706,775.36","$2,088,770,949.19","$2,171,762,295.53","$2,227,822,181.71","$1,920,227,800.32","$1,985,197,331.07","$2,022,115,406.35"
20,Total,Total,"$2,113,496,645.99","$2,241,455,713.84","$2,334,236,528.48","$21,360,158,034.91","$22,458,457,239.05","$23,087,080,433.96","$19,246,437,329.87","$20,152,698,699.13","$20,590,915,187.37"

In [73]:
data = data.replace({'\$': '', ',': ''}, regex=True)
columns = [par]
data[columns] = data[columns].apply(pd.to_numeric)

fully_insured = data[0:7]
self_insured = data[8:14]
total = data[15:]

In [74]:
allowed_claims = data[data.columns[5:8]]
incurred_claims = data[data.columns[8:]]

In [75]:
cols = ['Funding Type','Employer Size','2014','2015','2016']
cost_sharing = pd.DataFrame(columns = cols)
cost_sharing['Funding Type'] = data['Funding Type']
cost_sharing['Employer Size'] = data['Employer Size']

cost_sharing['2014'] = data['allowed_2014'] - data['incurred_2014']
cost_sharing['2015'] = data['allowed_2015'] - data['incurred_2015']
cost_sharing['2016'] = data['allowed_2016'] - data['incurred_2016']

years = ['2014','2015','2016']
cost_sharing = cost_sharing.round(2)
cost_sharing[years] = cost_sharing[years].astype('str') 
cost_sharing

     Funding Type   Employer Size           2014           2015           2016
0   Fully-Insured      Individual    68448098.83   170184723.98   293001812.92
1   Fully-Insured     Small Group   374533832.57   370795023.06   387180797.89
2   Fully-Insured  Mid-Size Group   165556177.49   166899972.96   173694384.11
3   Fully-Insured     Large Group   239598160.96   244271986.76   252037521.42
4   Fully-Insured     Jumbo Group   176146806.16   186478954.62   203007684.82
5   Fully-Insured             GIC    24456012.52     25396848.5    30232114.56
6   Fully-Insured           Total  1048739088.54  1164027509.87  1339154315.73
7    Self-Insured      Individual            nan            nan            nan
8    Self-Insured     Small Group      292214.06      101261.92      372647.33
9    Self-Insured  Mid-Size Group     5714774.55     7101578.07     7654309.98
10   Self-Insured     Large Group    54143790.42    59198099.51    61812364.63
11   Self-Insured     Jumbo Group   860743701.12   914161974.59   911696948.12
12   Self-Insured             GIC   144087136.36   161168115.96    175474660.8
13   Self-Insured           Total  1064981616.51  1141731030.05  1157010930.86
14          Total      Individual    68448098.83   170184723.98   293001812.92
15          Total     Small Group   374826046.63   370896284.98   387553445.23
16          Total  Mid-Size Group   171270952.04   174001551.03   181348694.09
17          Total     Large Group   293741951.38   303470086.27   313849886.05
18          Total     Jumbo Group  1036890507.28   1100640929.2  1114704632.94
19          Total             GIC   168543148.87   186564964.46   205706775.36
20          Total           Total  2113720705.04  2305758539.92  2496165246.59

In [77]:
data[columns] = data[columns].astype('str')
cost_sharing['matching_2014'] = np.where((data['cost_sharing_2014'] == cost_sharing['2014']), 'True', 'False')
cost_sharing['matching_2015'] = np.where((data['cost_sharing_2015'] == cost_sharing['2015']), 'True', 'False')
cost_sharing['matching_2016'] = np.where((data['cost_sharing_2016'] == cost_sharing['2014']), 'True', 'False')
cost_sharing

# Individual and Totals don't match for fully_insured and total

,Funding Type,Employer Size,2014,2015,2016,matching_2014,matching_2015,matching_2016
0,Fully-Insured,Individual,68448098.83,170184723.98,293001812.92,False,False,False
1,Fully-Insured,Small Group,374533832.57,370795023.06,387180797.89,True,False,False
2,Fully-Insured,Mid-Size Group,165556177.49,166899972.96,173694384.11,True,True,False
3,Fully-Insured,Large Group,239598160.96,244271986.76,252037521.42,False,False,False
4,Fully-Insured,Jumbo Group,176146806.16,186478954.62,203007684.82,True,False,False
5,Fully-Insured,GIC,24456012.52,25396848.5,30232114.56,True,True,False
6,Fully-Insured,Total,1048739088.54,1164027509.87,1339154315.73,False,False,False
7,Self-Insured,Individual,nan,nan,nan,True,True,True
8,Self-Insured,Small Group,292214.06,101261.92,372647.33,True,True,False
9,Self-Insured,Mid-Size Group,5714774.55,7101578.07,7654309.98,True,True,False
10,Self-Insured,Large Group,54143790.42,59198099.51,61812364.63,True,True,False
11,Self-Insured,Jumbo Group,860743701.12,914161974.59,911696948.12,True,True,False
12,Self-Insured,GIC,144087136.36,161168115.96,175474660.8,True,True,False
13,Self-Insured,Total,1064981616.51,1141731030.05,1157010930.86,True,True,False
14,Total,Individual,68448098.83,170184723.98,293001812.92,False,False,False
15,Total,Small Group,374826046.63,370896284.98,387553445.23,True,False,False
16,Total,Mid-Size Group,171270952.04,174001551.03,181348694.09,False,True,False
17,Total,Large Group,293741951.38,303470086.27,313849886.05,False,True,False
18,Total,Jumbo Group,1036890507.28,1100640929.2,1114704632.94,True,True,False
19,Total,GIC,168543148.87,186564964.46,205706775.36,True,True,False
20,Total,Total,2113720705.04,2305758539.92,2496165246.59,False,False,False